<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Say hello</title>
</head>
<body>
  <div class="wrapper">
    <h1>SAY<br>Hello</h1>
    <br>
    <form action="greet" method="post">
      {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
      {% endfor %}
      <br>
      <input type="text" name="name_input">
      <br>
      <button id="greet">GREET</button>
    </form>
    <br>
    
  </div>
</body>
</html>

